In [2]:
import pandas as pd

In [35]:
crossings = pd.read_csv("./data/Monthly_Table_Full_Data_data.csv")
crossings = crossings[["Port Name", "Measure", "Month of Date", "Port", "Port Code", "Value"]]
crossings.groupby(by = ["Port Code", "Month of Date"])["Value"].sum()
crossings = pd.DataFrame(crossings.groupby(by = ["Port Code"])["Value"].sum()).reset_index().rename(columns = {"Port Code":"port_code", "Value":"num_mig"})
crossings.head()

   port_code   num_mig
0       2301  16814487
1       2302   3818783
2       2303   9732371
3       2304  23744719
4       2305  19791437

In [30]:
coords = pd.read_csv("./data/Canada_and_Mexico_Border_Crossings.csv")
coords = coords[["X", "Y", "portcode"]]
coords = coords.rename(columns = {'portcode': "port_code"})
coords = coords.drop_duplicates(subset = "port_code")
coords.head()

              X             Y  port_code
0 -9.390993e+06  5.862204e+06       3803
1 -9.175353e+06  5.311746e+06       3802
2 -9.247762e+06  5.207803e+06       3801
3 -8.799189e+06  5.335297e+06        901
7 -8.458455e+06  5.519335e+06        708

In [31]:
comb = pd.merge(crossings, coords, on = "port_code")
comb.head()

   port_code   num_mig             X             Y
0       2301  16814487 -1.085336e+07  2.986527e+06
1       2302   3818783 -1.123521e+07  3.417304e+06
2       2303   9732371 -1.118894e+07  3.338214e+06
3       2304  23744719 -1.108045e+07  3.198271e+06
4       2305  19791437 -1.093949e+07  3.010856e+06

In [32]:
comb.to_csv("./data/mexico_border_2010.csv", index = False)

In [33]:
comb.shape

(25, 4)

In [3]:
test = pd.read_csv("./data/domestic_migration_matrix.csv")
test.head()

,number_moved,receiving,sending,sending_sum_income,sending_sum_earned_income,sending_total_pop,sending_MX2015A_INCOME,sending_weighted_avg_income,sending_weighted_avg_earned_income,sending_perc_households_gq,...,receiving_perc_imss_public_insurance_hlthcov,receiving_perc_imss_other_hlthcov,receiving_perc_issste_pemex_military_naval_hlthcov,receiving_perc_issste_public_insurance_hlthcov,receiving_perc_issste_other_hlthcov,receiving_perc_pemex_military_naval_public_insurance_hlthcov,receiving_perc_pemex_military_naval_other_hlthcov,receiving_perc_public_insurance_other_hlthcov,receiving_perc_no_coverage_hlthcov,receiving_perc_unknown_hlthcov
0,4840.0,484010001,484010001,7003430676,10437834.0,57552.0,6.838431e+09,702936.555011,1067.660029,1.0,...,0.000678,0.000261,NaN,0.000226,NaN,NaN,NaN,0.000087,0.370726,0.001303
1,0.0,484010001,484010002,2819606885,1609781.0,4044.0,2.741607e+09,697232.167409,398.066518,1.0,...,0.000678,0.000261,NaN,0.000226,NaN,NaN,NaN,0.000087,0.370726,0.001303
2,2.0,484010001,484010003,3486612838,1616362.0,4467.0,3.447613e+09,780526.715469,361.845086,1.0,...,0.000678,0.000261,NaN,0.000226,NaN,NaN,NaN,0.000087,0.370726,0.001303
3,1.0,484010001,484010004,3421631366,4634899.0,33947.0,3.305632e+09,718523.312517,964.329101,1.0,...,0.000678,0.000261,NaN,0.000226,NaN,NaN,NaN,0.000087,0.370726,0.001303
4,29.0,484010001,484010005,13896897578,40912034.0,579719.0,1.329690e+10,652545.411993,2025.755616,1.0,...,0.000678,0.000261,NaN,0.000226,NaN,NaN,NaN,0.000087,0.370726,0.001303

In [4]:
test.shape

(1000118, 523)